CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vs/SoulEngine/v15/Browse.VC.db
.vs/SoulEngine/v15/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
